%html
  %head
    %meta{:"http-equiv" => "content-type", :content => "text/html; charset=utf-8"}
    %title 2lo.niejest.be
    %link{:rel => "stylesheet", :href => url_for('/style.css'), :type => "text/css", :media => "screen", :charset => "utf-8"}
    %link{:rel => "shortcut icon", :href => "favicon.ico"}
    :plain
      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-19019147-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>

  %body
    :plain
      <!--[if lt IE 9]><link href="infobar/infobar.css" rel=stylesheet>
      <div id=infobar><a href=http://browsehappy.pl/infobar>
      Internet Explorer nie potrafi poprawnie wyświetlić tej strony. Kliknij tutaj, aby dowiedzieć się więcej...
      </a></div><div id=viewplot><script src=infobar.js></script><![endif]-->
    #wrapper
      - [:error, :notice].each do |flash_sym|
        - if flash[flash_sym]
          %div{:id => "flash_#{flash_sym.to_s}", :class => 'flash_message'}
            = flash[flash_sym]
      %form{:action => url_for('/emails'), :method => 'post', :name => 'email', :id => "mailform"}
        %p
          Nie lubię <strong>trwonić czasu</strong> na błahostki, dlatego też chcę codziennie otrzymywać informacje o&nbsp;zastępstwach oraz o&nbsp;wylosowanym numerku na podany niżej adres e-mail.
        #email-wrapper
          %label#email-label
            %span Email
            %input{:type => 'text', :name => 'email[address]', :id => 'email'}>
          #submit-button
            %input{:type => 'submit', :value => 'Wchodzę w to!'}
      %p#footer
        magic by
        %a{:href => 'http://ravicio.us'} ravicious
