/* RESET */
a, abbr, acronym, address, b, big, blockquote, body, caption,
cite, code, dd, del, dfn, div, dl, dt, em, embed, fieldset,
figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6,
html, i, iframe, img, ins, kbd, label, legend, li, object,
ol, p, pre, q, samp, small, span, strike, strong, sub, sup,
table, tbody, td, tfoot, th, thead, tr, tt, ul, var {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline;
}

a, ins, del {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

caption, th {
  text-align: left;
}

q:after, q:before {
  content: "";
}

/* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
@font-face {
  font-family: 'Museo';
  src: local('☺'), url('Museo_Slab_500.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo';
  src: local('☺'), url('Museo_Slab_500italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

body {
  background: #95bbc3 url('background.png');
}

strong {
  font-style: italic;
}

#wrapper {
  margin: 65px auto;
  padding: 0 15px;
  max-width: 1020px;
}

#email {
  border: 0;
  background: none;
  border-bottom: 2px dotted #8f8f8f;
  width: 450px;
}

#wrapper, #email {
  font-size: 35px;
  line-height: 1.5em;
  font-family: "Museo", "Trebuchet MS", Verdana, Georgia, sans-serif;
  color: #f3f3f3;
  text-shadow: 1px 2px 0px #90A5B6;
}

#email-wrapper {
  margin: 30px auto;
  text-align: center;
}

#email-label {
  width: 490px;
}

#email-label span {
  text-indent: -9999px;
  margin-right: 4px;
  margin-top: 10px;
  float: left;
  width: 32px;
  height: 22px;
  background: no-repeat url('mail.png');
}

#email-label, #submit-button {
  display: inline-block;
}

#footer {
  margin-top: 30px;
  font-size: 12px;
  font-family: Verdana, Arial, sans-serif;
  color: #c2d8dc;
  text-shadow: none;
}

#footer a {
  color: inherit;
  text-decoration: none;
  font-style: italic;
}

#footer a:hover {
  color: #3d3d3d;
}

.flash_message {
  font-size: 14px;
  line-height: 1em;
  color: #3d3d3d;
  text-shadow: none;
  position: absolute;
  margin-top: -70px;
  width: 370px;
  background: green;
  padding: 5px 8px;
}

#flash_notice {
  background-color: #CFC;
  border: solid 2px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 2px #C66;
}
